.containerImg{
    background-image: url("/images/bg.jpg");    
    background-attachment: fixed;
}
.containerColor{
    background-color: white;
}
.navigation{
    background-color: #949494;
}
.logo{
    max-height: 50px;
    width:auto;
}
.lineYouTubeVk{
    height: 52px; 
    background-color:#1F496A;
   
}
.socnetlogo{
    max-height: 32px;
    width:auto; 
    position: absolute; 
    left: 0; 
    top: 0; 
    bottom: 0;
    right: 0;
    margin: auto;
}
.youTube{
    position: relative;
    background-color: #EEEEEE;
}
.youTube:hover{
    background-color: #FF0000;
}
.VK{
    position: relative;
    background-color: #007bff;
}
.VK:hover{
    background-color: #0056b3;
}
.text-white{
    color: white;
}
.formBackground{
    background-color: #eaeaeb; 
    padding:20px;
    color: #343434;
}
.formLabel{
    font-size:12px; margin-bottom: 9px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}

button{
    background-color: #949494;
    border:0;
}
.button_serch{
    border-radius: 0 7px 7px 0;   
}
button:hover{
    background-color: #7d7d7d;
}
.button_visible, div.itemCards button{
    text-align: center;
    visibility: hidden;
    background-color: #949494;
    border: 0;
}
.button_visible:hover, div.itemCards button:hover{
    background-color: #7d7d7d;
}
.card:hover div.itemCards button{
    visibility: visible;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.bottomLineLayout{
    padding-top: 10px; 
    padding-bottom: 10px;
}


.smalllogo{
    max-height: 20px;
}
.socnetlistUL{
    display:block; 
    padding: 0;
}
.socnetlistLI{
    display: inline-block;
    margin-right: 5px;
}
.star{
    font-size: 20px; 
    color: #949494;
}
.starrate{
    color:#343434;
}
.describtion_card{
    font-size: 20px;
    max-width: 80%; 
    margin:auto;
}
.button_visible{
    visibility: visible;
}

.one_line_text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}